<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='overlay-container'>
      <div class='overlay-content'>
        <%= image_tag 'hacking.gif' %>
        Hacking government database. Please wait…
      </div>
    </div>

    <div class='main-container'>
      <h3 class='main-tagline'>Take a driver's exam. In style.</h1>
      <%= yield %>
    </div>

  </body>
</html>
